

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4b183;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
  }
  
  .container .tenor-gif-embed {
    max-width: 200px;
  }
  
  .container .btn {
    display: flex;
    gap: 25px;
  }
  
  .btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 66px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  }

@keyframes tagdaDance {
  0%   { transform: translate(-50%, -50%) scale(1.1) rotate(0deg); }
  10%  { transform: translate(-50%, -50%) scale(1.2) rotate(6deg); }
  20%  { transform: translate(-50%, -50%) scale(1.25) rotate(-6deg); }
  30%  { transform: translate(-50%, -50%) scale(1.3) rotate(8deg); }
  40%  { transform: translate(-50%, -50%) scale(1.25) rotate(-8deg); }
  50%  { transform: translate(-50%, -50%) scale(1.3) rotate(6deg); }
  60%  { transform: translate(-50%, -50%) scale(1.25) rotate(-6deg); }
  70%  { transform: translate(-50%, -50%) scale(1.2) rotate(4deg); }
  80%  { transform: translate(-50%, -50%) scale(1.15) rotate(-4deg); }
  100% { transform: translate(-50%, -50%) scale(1.2) rotate(0deg); }
}
